body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-black: #000;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-6xs: 7px;
  --gap-xl: 20px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-11xl: 30px;
}
